/* Whole Body + Animation */

body {
  background: linear-gradient(-45deg, #614385, #516395, #C33764, #1D2671);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Header*/

#wrapper {
  padding: 50px;
}
h1{
  color: white;
}
p{
  color: white;
}

/* Summary Section*/

#summary-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#summary-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
    text-decoration: none;
}

#summary-list li:hover{
    border-color: #55419f ;
}

#summary-list{
  padding: 50px;
}

/*All links*/

a:link {
  color: #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #000000;
}

/* Image */
img {
  border: 5px solid #ffffff;
}

/*Interests*/
  #interests{
  background: linear-gradient(-45deg, #42275a, #734b6d, #000428 , #004e92);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
#more{
  background-size: 400% 400%;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
/* Education Page */
  #education{
  background: linear-gradient(-45deg, #bc2424, #bf3bab, #172ce8 , #7998b4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#summary-lists ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#summary-lists li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
    text-decoration: none;
}

#summary-lists li:hover{
    border-color: #55419f ;
}

#summary-lists {
  padding: 50px;
} 
  #summary-lists{
  background: linear-gradient(-45deg, #ffd89b , #19547b, #3a1c71  , #d76d77 )
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}