/* Whole Body + Animation */

body {
  background: linear-gradient(-45deg, #2f0075, #001170, #004b70 , #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 200vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Header*/

#wrapper {
  padding: 50px;
   text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}
h1{
  color: white;
}
p{
  color: white;
}

/* Summary Section*/

#summary-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#summary-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
    text-decoration: none;
}

#summary-list li:hover{
    border-color: #4078e7 ;
}

#summary-list{
  padding: 50px;
  text-align: center;
}

/*All links*/

a:link {
  color: #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #000000;
}


/* Image */
img {
  border: 5px solid #ffffff;
}

/*Interests*/
  #interests{
  background: linear-gradient(-45deg, #42275a, #734b6d, #000428 , #004e92);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
#more{
  background-size: 400% 400%;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
/* Education Page */
  #education{
  background: linear-gradient(-45deg, #bc2424, #bf3bab, #172ce8 , #7998b4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#summary-lists ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#summary-lists li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
    text-decoration: none;
}

#summary-lists li:hover{
    border-color: #ffffff ;
}

#summary-lists {
  padding: 50px;
} 


h1{
    font-size: 50px;
}
p{
  font-size: 20px;
}

/* skills */

.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-gap: 100px;
    color: #fff;
}

.skill-card{
   text-align: center;
}


.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
  text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
  padding-left: 200px;
  padding-right: 200px;
  color: white;
}
